.Rproj.user
.Rhistory
.RData
.Ruserdata
labnotebook.md
EnvironmentBackups/
raw_data/
sra_data/
filtered_fastq/
trimmed_fastq/
Cariaco_euks_script.R
Figures/
Suter_2018_count_tables/
Ramond_etal_2018_traitdata/